@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Outfit:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#050423,#031E65);
    overflow: hidden;
    height: 100vh;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

.logo{
    width: 4rem;
}

.logo img{
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    
}

nav .home{
    color: #850106;
    border-bottom: 1px solid #850106;
}

nav ul a{
    padding: 0 10px;
    text-decoration: none;
    color: white;
    font-family: 'Bangers', cursive;
    font-size: 30px;
    transition: all 0.5s ease-in-out;
}

nav ul a:hover{
    color: #850106;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color:#850106;
    margin: 8px;
}

.main{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    
}

.text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.text h1{
    font-size: 5rem;
    color: #fff;
    font-family: 'Bangers', cursive;
    text-shadow: 3px 0 #850106,
    -3px 0 #850106,
    0 3px #850106,
    0 -3px #850106,
    2px 2px #850106,
    -2px -2px #850106,
    2px -2px #850106,
    -2px 2px #850106;
    text-align: center;
}

.paragrafo{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    padding: 1rem;
}

.link{
    font-size: 21px;
    cursor: pointer;
    text-decoration:none ;
    color: white;
    border-radius: 20px;
    padding: 8px 12px;
    font-weight: 300;
    background-color: #850106;
    box-shadow: .1rem .1rem .3rem #222;
    transition: .4s;
}

.link:hover{
    transform: scale(1.15);
}

.contentimage{
    width: 50%;
    display: flex;
    justify-content: center;
}

.img{
    width: 32em;

}

@media (max-width: 888px){   
    .list{
        position: fixed;
        top: 12vh;
        right: 0;
        width: max-content;
        background-color: rgba(0, 0, 0, 0.336);
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        border-radius: .5rem;
        transform: translateX(100%);
        transition: transform 0,3s ease;
        color: white;
        display: flex;
    }

    .mobile-menu{
        display: block;
    }

    .list.active{
        transform: translateX(0);
        
    }

    .paragrafo{
        font-size: 1.1rem;
    }

    .text h1{
        font-size: 3rem;
    }

    .main{
        overflow-x: hidden;
    }
}

@media (max-width: 634px){
    .img{
        width: 27rem;
        padding-top: 3rem;
    }
}

@media (max-width: 557px){
    .img{
        width: 23em;
        padding-top: 8rem;
    }

    .paragrafo{
        font-size: 1rem;
    }

    .text h1{
        font-size: 2.4rem;
    }

    .link{
        font-size: 1.2rem;
    }
}

@media (max-width: 477px){
    .img{
        width: 19em;
        padding-top: 12rem;
    }

    .paragrafo{
        font-size: 0.9rem;
    }

    .link{
        font-size: 1rem;
    }

    .text h1{
        font-size: 2rem;
    }
}

@media (max-width: 408px){
    .img{
        width: 17em;
        padding-top: 15rem;
    }

    .paragrafo{
        font-size: 0.8rem;
    }

    .link{
        font-size: 0.9rem;
    }

    .text h1{
        font-size: 2rem;
    }
}